@model MeteoWebApp.Web.Models.ForecastViewModel
@{
    ViewBag.Title = "EditForecast";
}

<h2>Uredi prognozu - @Model.City</h2>

<div class="row">
    <div class="pull-left">
        @Html.RouteLink("Prethodnih tjedan dana", "EditForecast", new { CityId = @Model.CityId, FirstDate = @Model.FirstDate.AddDays(-7) })
    </div>
    <div class="pull-right">
        @Html.RouteLink("Idućih tjedan dana", "EditForecast", new { CityId = @Model.CityId, FirstDate = @Model.FirstDate.AddDays(7) })
    </div>
</div>
@if (Model.Forecasts != null && Model.Forecasts.Any())
{
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            @foreach (var forecast in @Model.Forecasts)
            {
                <tr class=@(forecast.Date == DateTime.Now ? "success" : "" )>
                    <td>@forecast.Date.ToString("dd.MM.yyyy")</td>
                    <td>
                        <img class="img-responsive" src="@forecast.GeneralStateImageUrl" data-toggle="tooltip" title="@forecast.GeneralStateCaption" data-placement="right" />
                    </td>
                    <td>@forecast.Temperature °C</td>
                    <td>@forecast.RainChance %</td>
                    <td>
                        <img class="img-responsive wind-speed-image" src="@forecast.WindDirectionImageUrl" />
                        (@forecast.WindSpeed)
                    </td>
                    <td>
                        <a><img src="~/Content/Images/OtherIcons/1459726611_icon-136-document-edit.png">@Html.RouteLink("Uredi", "EditForecastRecord", new { CityId = @Model.CityId, ForecastRecordId = forecast.Id})</a>
                    </td>
                    <td>
                        <a><img src="~/Content/Images/OtherIcons/1459726547_circle-close-delete-remove-outline-stroke.png">@Html.RouteLink("Izbriši", "DeleteForecastRecord", new { CityId = @Model.CityId, ForecastRecordId = forecast.Id })</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-1"></div>
}
else
{
    <div class="alert alert-info">
        <strong>@Model.FirstDate.ToString("dd.MM.yyyy") - @Model.FirstDate.AddDays(7).ToString("dd.MM.yyyy")</strong> Nema podataka za odabrani period!
    </div>
}

@section Css{
    <link href="@Url.Content("~/Content/Styles/ForecastStyle.css")" rel="stylesheet" type="text/css">
}

@section Script{
    <script src="@Url.Content("~/Content/Scripts/ForecastScript.js")"></script>
}