<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Styles/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Styles/LayoutStyle.css")" rel="stylesheet">
    @RenderSection("Css", false)
    @RenderSection("HeadScripts", false)
    <title>@ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/OtherIcons/rain-icon.png")">
</head>
<body>
    <!--Navigation bar-->
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a href="@Url.RouteUrl("ViewForecast", new { CityId = 1})" class="navbar-brand">MeteoWebApp</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Prognoza<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.RouteLink("Split", "ViewForecast", new { CityId = 1 })</li>
                            <li>@Html.RouteLink("Zagreb", "ViewForecast", new { CityId = 2 })</li>
                            <li>@Html.RouteLink("Rijeka", "ViewForecast", new { CityId = 3 })</li>
                            <li>@Html.RouteLink("Osijek", "ViewForecast", new { CityId = 4 })</li>
                            <li>@Html.RouteLink("Dubrovnik", "ViewForecast", new { CityId = 5 })</li>
                        </ul>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="@Url.RouteUrl("AdminCities")">Uredi prognozu</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-primary logout-button" value="Odjava" />
                            }
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("Login")" class="btn btn-success navbar-btn">Prijava</a>
                    }
                </ul>
            </div>
        </div>
    </div>

    <!--Page content-->
    <div class="container">
        @RenderBody()
    </div>

    <!--Footer-->
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text">
                MeteoWebApp 
                <br />
                Edo Behmen - završni rad
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="@Url.Content("~/Content/Scripts/bootstrap.min.js")"></script>
    @RenderSection("Script", false)
</body>
</html>
