@model MeteoWebApp.Web.Models.ForecastViewModel
@{
    ViewBag.Title = "Prognoza | WebMeteoApp";
}
@if(Model.City != null)
{
<h2>Vremenska prognoza - <span>@Model.City</span></h2>
}
else
{
    <h2>Greška u zahtjevu! Grad ne postoji</h2>
}
<div class="row">
    <div class="pull-left">
        @Html.RouteLink("Prethodnih tjedan dana", "ViewForecast", new { CityId = @Model.CityId, FirstDate = @Model.FirstDate.AddDays(-7) })
    </div>
    <div class="pull-right">
        @Html.RouteLink("Idućih tjedan dana", "ViewForecast", new { CityId = @Model.CityId, FirstDate = @Model.FirstDate.AddDays(7) })
    </div>
</div>
@if (Model.Forecasts != null && Model.Forecasts.Any())
{
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-striped">
            @foreach (var forecast in @Model.Forecasts)
            {
                <tr class = @(forecast.Date == DateTime.Now ? "success" : "" )>
                    <td>@forecast.Date.ToString("dd.MM.yyyy")</td>
                    <td>
                        <img class="img-responsive" src="@forecast.GeneralStateImageUrl" data-toggle="tooltip" title="@forecast.GeneralStateCaption" data-placement="right" />
                    </td>
                    <td>@forecast.Temperature °C</td>
                    <td>@forecast.RainChance %</td>
                    <td>
                        <img class="img-responsive wind-speed-image" src="@forecast.WindDirectionImageUrl" />
                        (@forecast.WindSpeed)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-1"></div>
}
else
{
    <div class="alert alert-info">
        <strong>@Model.FirstDate.ToString("dd.MM.yyyy") - @Model.FirstDate.AddDays(7).ToString("dd.MM.yyyy")</strong> Nema podataka za odabrani period!
    </div>
}

@section Css{
    
}

@section Script{
    <script src="@Url.Content("~/Content/Scripts/ForecastScript.js")"></script>
}